################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AvaliacaoAnalista/v17/.wsuo
*.vsidx
/.vs/TestePratico/FileContentIndex/9390ed9c-2a55-474e-b4aa-e8d88cfcb160.vsidx
/Teste1/obj/Debug/net8.0/Teste1.AssemblyInfoInputs.cache
/Teste1/obj/Debug/net8.0/Teste1.assets.cache
/Teste1/obj/Debug/net8.0/Teste1.GeneratedMSBuildEditorConfig.editorconfig
/Teste1/obj/project.assets.json
/Teste1/obj/project.nuget.cache
/Teste1/obj/Teste1.csproj.nuget.dgspec.json
/Teste1/obj/Teste1.csproj.nuget.g.props
/Teste2/obj/Debug/net8.0/Teste2.AssemblyInfoInputs.cache
/.vs/AvaliacaoAnalista/v17/DocumentLayout.json
/Teste1/obj/Debug/net8.0/Teste1.AssemblyInfo.cs
/Teste2/obj/Debug/net8.0/Teste2.AssemblyInfo.cs
/Teste2/obj/Debug/net8.0/Teste2.assets.cache
/Teste2/obj/Debug/net8.0/Teste2.GeneratedMSBuildEditorConfig.editorconfig
/Teste2/obj/project.assets.json
/Teste2/obj/project.nuget.cache
/Teste2/obj/Teste2.csproj.nuget.dgspec.json
/Teste2/obj/Teste2.csproj.nuget.g.props
/Teste1/obj/Debug/net8.0/Teste1.AssemblyInfo.cs
/Teste1/obj/Debug/net8.0/Teste1.AssemblyInfoInputs.cache
/Teste1/obj/Debug/net8.0/Teste1.assets.cache
/Teste1/obj/Debug/net8.0/Teste1.GeneratedMSBuildEditorConfig.editorconfig
/Teste1/obj/project.assets.json
/Teste1/obj/project.nuget.cache
/Teste1/obj/Teste1.csproj.nuget.dgspec.json
/Teste1/obj/Teste1.csproj.nuget.g.props
/Teste2/obj/Debug/net8.0/Teste2.AssemblyInfo.cs
/Teste2/obj/Debug/net8.0/Teste2.AssemblyInfoInputs.cache
/Teste2/obj/Debug/net8.0/Teste2.assets.cache
/Teste2/obj/Debug/net8.0/Teste2.GeneratedMSBuildEditorConfig.editorconfig
/Teste2/obj/project.assets.json
/Teste2/obj/project.nuget.cache
/Teste2/obj/Teste2.csproj.nuget.dgspec.json
/Teste2/obj/Teste2.csproj.nuget.g.props
/.vs/TestePratico/FileContentIndex/9390ed9c-2a55-474e-b4aa-e8d88cfcb160.vsidx
/.vs/TestePratico/v17/.suo
