# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build
bin/
obj/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# User-specific files
*.user
*.rsuser
*.suo

# Build results
*.dll
*.exe
*.pdb

# VS Code
.vscode/

# Logs
*.log

# NuGet
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

# Others
*.cache
*.dbmdl
*.bak
*.tmp
*.mdf
*.ldf
